{{ define "main" }}
<article>
<div style="margin-bottom: 2ch;text-transform: none;">
{{ with .Date }}{{ if not .IsZero }}<time datetime="{{ .Format "2006-01-02" }}">{{ .Format "Jan 2, 2006" }}</time>{{ end }}{{ end }}</div>
<h1 class="heading">{{ .Title }}</h1>
{{ $c := .Content }}
{{ $c = replaceRE `<div class="footnotes" role="doc-endnotes">\s*<hr>` `<div class="footnotes" role="doc-endnotes"><h2 class="heading">References</h2>` $c }}
{{ $c = replaceRE `<li id="fn:([0-9]+)">\s*<p>` `<li id="fn:${1}"><a href="#fnref:${1}" class="footnote-backlink">^</a><p>` $c }}
{{ $c = replaceRE `(?:&#160;|&nbsp;|\s)*<a href="#fnref:[0-9]+" class="footnote-backref"[^>]*>[^<]*</a>` `` $c }}
{{ $c | safeHTML }}
{{ with .GetTerms "tags" }}
<p style="text-align: left;margin-top: 4ch;">
Tags: {{ range . }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>&nbsp;{{ end }}
</p>
{{ end }}
{{ if eq .Section "articles" }}
<footer style="margin-top: 4ch;padding-top: 1ch;border-top: 1px dashed #888;font-size: 0.9em;">
<p style="text-align: center;"><em>If you have any thoughts or comments on this article, please feel free to <a href="/about">reach out</a>.</em></p>
</footer>
{{ end }}
</article>
{{ end }}
